<% if users.present? %>
  <% users.each do |user| %>
    <div class="col-xs-12 col-sm-6 col-md-3 m-4">  
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= user %></h5>
        </div>
      </div>
    </div>
  <% end %> 
<% else %>
  <div class="alert alert-danger" role="alert">
    Users not found
  </div>
<% end %>
