<div class="row no-gutters">
  <h1>Search APP</h1>
  <div class="col order-5">
    <%= form_with url: "/search_user", method: :get, remote: :true do |form| %>
      <div class="my-5">
        <%= form.label :fullname, class: 'form-label' %>
        <%= form.text_field :fullname , class: 'form-control w-50'%>
      </div>
      <div class="my-5">
        <%= form.submit "Search", class: 'btn btn-primary' %>
      </div>
    <% end %>
    <div id="users" class="row no-gutters">
    </div>
  </div>
</div>
